
@{
    ViewBag.Title = "Index";
}
<link href="~/template/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<!-- Plugin CSS -->
<link href="~/template/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/template/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
<link href="~/template/lib/device-mockups/device-mockups.min.css" rel="stylesheet" />

<!-- Theme CSS -->
<link href="~/template/css/new-age.min.css" rel="stylesheet" />

<section class="cta" style="padding-top: 0px;padding-bottom: 50px;">
    <div class="cta-content">
        <div class="container">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Инструкции за попълване на теста:</strong>  Моля, изберете и оградете от всяка двойка твърдения това, което е по-близко до Вас като личност. Избирайте близките до Вас твърдения колкото се може по-бързо и спонтанно. Няма грешни отговори.
            </div>
            @using (Html.BeginForm("Index", "FirstTest", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest1")
                            </span>
                            <label class="form-control">Обичам действието.</label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest2")
                            </span>
                            <label class="form-control">Справям се с проблемите по систематичен начин.</label>
                        </div>
                        <br />
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest3")
                            </span>
                            <label class="form-control">Вярвам, че отборите са по-ефективни от отделния човек.</label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest4")
                            </span>
                            <label class="form-control">Иновациите ми доставят удоволствие.</label>
                        </div>
                        <br />
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest5")
                            </span>
                            <label class="form-control">Интересувам се повече от бъдещето, отколкото от миналото.</label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest6")
                            </span>
                            <label class="form-control">Обичам да работя с хора.</label>
                        </div>
                        <br />
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <!--<input type="checkbox" aria-label="Отговор" name="quest7" id="quest7">-->
                                @Html.CheckBox("quest7")
                            </span>
                            <label class="form-control">
                                Обичам да се включвам в добре организирани групови срещи.
                            </label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest8")
                            </span>
                            <label class="form-control">Крайните срокове са важни за мен.</label>
                        </div>
                        <br />
                    </div>
                </div>
                <br />

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest9")
                            </span>
                            <label class="form-control">Не мога да понасям да се отлагат нещата.</label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest10")
                            </span>
                            <label class="form-control">Вярвам, че новите идеи трябва да бъдат тествани преди да се приложат</label>
                        </div>
                        <br />
                    </div>
                </div>
                <br />

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest11")
                            </span>
                            <label class="form-control">Обичам интелектуалното предизвикателство от общуването с другите.</label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest12")
                            </span>
                            <label class="form-control">Винаги търся нови възможности.</label>
                        </div>
                        <br />
                    </div>
                </div>
                <br />

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest13")
                            </span>
                            <label class="form-control">Искам да си поставям собствени цели.</label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest14")
                            </span>
                            <label class="form-control">Когато стартирам нещо, го довършвам до край.</label>
                        </div>
                        <br />
                    </div>
                </div>
                <br />

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest15")
                            </span>
                            <label class="form-control">
                                Обикновено се опитвам да разбера емоциите на другите хора.
                            </label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest16")
                            </span>
                            <label class="form-control">Предизвиквам хората около мен.</label>
                        </div>
                        <br />
                    </div>
                </div>
                <br />

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest17")
                            </span>
                            <label class="form-control">Очаквам с нетърпение да получа обратна връзка за своето представяне.</label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest18")
                            </span>
                            <label class="form-control">Намирам „стъпка по стъпка” подхода за много ефективен.</label>
                        </div>
                        <br />
                    </div>
                </div>
                <br />

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="glyphicon glyphicon-pencil"></h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest19")
                            </span>
                            <label class="form-control">Мисля, че съм добър/добра в изучаването на хората. </label>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBox("quest20")
                            </span>
                            <label class="form-control">Обичам креативните начини за разрешаване на проблеми.</label>
                        </div>
                        <br />
                    </div>
                </div>
                <br />

                <hr />
            @*
    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest21")
                </span>
                <label class="form-control">Аз правя заключения въз основа на частични данни и правя планове. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest22")
                </span>
                <label class="form-control">Усещам нуждите на другите.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />
    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest23")
                </span>
                <label class="form-control">Планирането е ключът към успеха. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest24")
                </span>
                <label class="form-control">Ставам нетърпелив/а при дълги обсъждания</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest25")
                </span>
                <label class="form-control">Оставам спокоен/спокойна под напрежение. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest26")
                </span>
                <label class="form-control">Много ценя опита. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest27")
                </span>
                <label class="form-control">Слушам хората. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest28")
                </span>
                <label class="form-control">Хората казват, че мисля бързо </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest29")
                </span>
                <label class="form-control">Сътрудничеството е ключова дума за мен. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest30")
                </span>
                <label class="form-control">Използвам логически модели да тествам алтернативи. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest31")
                </span>
                <label class="form-control">Обичам да се занимавам с няколко проекта наведнъж </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest32")
                </span>
                <label class="form-control">Винаги си задавам въпроси. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />


    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest33")
                </span>
                <label class="form-control">Уча се чрез правене. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest34")
                </span>
                <label class="form-control">Вярвам, че главата ми управлява сърцето. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />


    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest35")
                </span>
                <label class="form-control">Мога да предвидя как другите ще реагират на определени действия.</label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest36")
                </span>
                <label class="form-control">Не обичам детайлите. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest37")
                </span>
                <label class="form-control">Анализът винаги трябва да предшества действията.</label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest38")
                </span>
                <label class="form-control">Умея да оценя климата в групата. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest39")
                </span>
                <label class="form-control">Имам склонност да започвам неща и да не ги довършвам.</label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest40")
                </span>
                <label class="form-control">Възприемам се като решителен човек. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest41")
                </span>
                <label class="form-control">Търся предизвикателни задачи</label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest42")
                </span>
                <label class="form-control">Разчитам на наблюдения и данни. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest43")
                </span>
                <label class="form-control">Мога да изразявам чувствата си свободно.</label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest44")
                </span>
                <label class="form-control">Обичам да измислям нови проекти. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest45")
                </span>
                <label class="form-control">Много обичам да чета.</label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest46")
                </span>
                <label class="form-control">Възприемам се като човек, който подпомага комуникацията.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest47")
                </span>
                <label class="form-control">Обичам да се фокусирам върху едно нещо в даден момент. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest48")
                </span>
                <label class="form-control">Обичам да постигам.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />
    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest49")
                </span>
                <label class="form-control">Обичам да научавам за другите. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest50")
                </span>
                <label class="form-control">Обичам разнообразието. </label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest51")
                </span>
                <label class="form-control">Фактите говорят сами за себе си. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest52")
                </span>
                <label class="form-control">Използвам въображението си колкото се може повече.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest53")
                </span>
                <label class="form-control">Ставам нетърпелив/а когато има дълги и бавни задачи. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest54")
                </span>
                <label class="form-control">Умът ми никога не спира да работи.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest55")
                </span>
                <label class="form-control">Ключови решения трябва да се вземат внимателно. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest56")
                </span>
                <label class="form-control"> Силно вярвам, че хората се нуждаят един от друг, за да се свърши работата.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest57")
                </span>
                <label class="form-control">Обикновено вземам решения без да мисля твърде много. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest58")
                </span>
                <label class="form-control"> Емоциите създават проблеми.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest59")
                </span>
                <label class="form-control">Обичам да бъда харесван/а от другите. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest60")
                </span>
                <label class="form-control"> Мога да събера две и две много бързо.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest61")
                </span>
                <label class="form-control">Изпробвам своите нови идеи върху хората. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest62")
                </span>
                <label class="form-control"> Вярвам в научния подход.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest63")
                </span>
                <label class="form-control">Обичам да завършвам нещата. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest64")
                </span>
                <label class="form-control"> Добрите отношения са от съществено значение.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest65")
                </span>
                <label class="form-control">Импулсивен/на съм. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest66")
                </span>
                <label class="form-control"> Приемам различията у хората.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest67")
                </span>
                <label class="form-control">Да комуникирам с хората е самоцел. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest68")
                </span>
                <label class="form-control">Обичам интелектуалните предизвикателства.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest69")
                </span>
                <label class="form-control">Обичам да организирам.</label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest70")
                </span>
                <label class="form-control">Обикновено прескачам от една идея на друга.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest71")
                </span>
                <label class="form-control">Да говориш и работиш с хора е изкуство. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest72")
                </span>
                <label class="form-control">Себереализацията е ключова дума за мен.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest73")
                </span>
                <label class="form-control">Обичам да се заигравам с нови идеи. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest74")
                </span>
                <label class="form-control">Не обичам да си губя времето.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest75")
                </span>
                <label class="form-control">Обичам да правя това, в което съм добър/добра. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest76")
                </span>
                <label class="form-control">Уча се докато комуникирам с другите.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />


    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest77")
                </span>
                <label class="form-control">Намирам абстракциите за интересни и приятни. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest78")
                </span>
                <label class="form-control">Търпелив/а съм с детайлите.</label>
            </div>
            <br />
        </div>
    </div>
    <br />

    <hr />

    <div class="row">
        <div class="col-lg-6">
            <h3 class="glyphicon glyphicon-pencil"></h3>
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest79")
                </span>
                <label class="form-control">Харесвам кратки и точни изказвания. </label>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.CheckBox("quest80")
                </span>
                <label class="form-control">Чувствам се уверен/а в себе си.</label>
            </div>
            <br />
        </div>
    </div>
    <br />
            *@
                <hr />

                <input type="submit" class="btn btn-lg btn-primary" value="Предай" />

                <div class="glyphicon glyphicon-thumbs-up"></div>
            }
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Theme JavaScript -->
<script src="~/template/js/new-age.min.js"></script>




