@model IEnumerable<SociateGeYoung.Models.ViewModels.JobAdVm>
@{
    ViewBag.Title = "All";
}

<div class="container body-content">
    <h1>Обяви</h1>
    @foreach (var vm in Model)
    {
        <div style="border: 2px solid black" class="container">
            <img src="@vm.ImageUrl" alt="" width="200" height="200" style="alignment: left" />
            <label>@vm.Position</label>
            <label>Създадена на @vm.CreateOn</label>
            <label>Студентски профил: <strong>@vm.StudentProfile</strong> </label>
            @Html.ActionLink("Повече информация", "Details", new { id = vm.Id }, new { @class = "btn btn-lg btn-success" })
        </div>
        <br />
    }

</div>
