@using Microsoft.AspNet.Identity
@model SociateGeYoung.Models.ViewModels.DatailsJobAdVm
@{
    ViewBag.Title = "Details";
}
<div class="container body-content">
    <h2>Details Job Add</h2>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Промени обява", "Edit", "AdminAd", new { Id = Model.Id, area = "Admin" }, new { @class = "btn btn-lg btn-warning" })
        @Html.ActionLink("Изтрий обява", "Delete", "AdminAd", new { Id = Model.Id, area = "Admin" }, new { @class = "btn btn-lg btn-danger" })

    }
    <div>
        <h1>@Model.Position</h1>
        <img src="@Model.ImageUrl" alt="" width="400" height="400" class="img-responsive" />
        <br />
        <label>Профил за тази позиция:</label>
        <h4>@Model.StudentProfile</h4>
        <br />
        @*@<p class="text-justify">@Model.Description</p>*@
        @Html.Raw(Model.Description)
    </div>
    @Html.ActionLink("Кандидатствай", "Index","Apply", new { jobAdId = Model.Id, userId = User.Identity.GetUserId() }, new { @class = "btn btn-lg btn-success" })

</div>

