@model PagedList.IPagedList<SociateGeYoung.Models.EntityModels.ApplicationUser>
@using PagedList.Mvc;
@using SociateGeYoung.Models.Enums
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "UserInfo";
}
@if (ViewBag.Message != null)
{
    <h3 style="color:green"> @ViewBag.Message</h3>
}
@foreach (var user in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="caption-full">
                    <h2>Студент: </h2>
                    <h4>
                        <a href="#">@user.UserName</a>
                    </h4>
                </div>
                <div class="well">
                    @foreach (var cv in user.CarrerCvs)
                    {
                        <div class="text-left">
                            <h4>CV с име: @cv.CVpath</h4>
                            <a href="~/UploadedCVs/@cv.CVpath" class="btn btn-success">Отвори CV</a>
                        </div>
                        <br />
                        <h4>Позиции, за които е кандидатствал с това CV:</h4>
                        foreach (var apply in cv.Applies)
                        {

                            <div class="row">
                                <div class="col-md-6 col-md-offset-4">
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span> @apply.JobAd.Position . За тази позиция е:
                                         @switch (apply.ApplyStatus)
                                         {
                                             case ApplyStatus.Undefined:
                                                 <span class="btn btn-sm btn-default">Неопределен</span>
                                                 break;
                                             case ApplyStatus.Appropriate:
                                                <span class="btn btn-sm btn-success">Подходящ</span>
                                                 break;
                                             case ApplyStatus.Inappropriate:
                                                <span class="btn btn-sm btn-danger">Неподходящ</span>
                                                 break;
                                             case ApplyStatus.ModeratelyAppropriate:
                                                <span class="btn btn-sm btn-info">Средноподходящ</span>
                                                 break;
                                             case ApplyStatus.ForAnInterview:
                                                <span class="btn btn-sm btn-warning">За Интервю</span>
                                                 break;
                                         }
                                    </p>
                                    <h4>Промяна</h4>
                                    @using (Html.BeginForm("UserInfo", "Info", FormMethod.Post))
                                    {
                                        <input type="number" hidden="hidden" value="@apply.Id" name="ApplyId" />
                                        <input type="text" hidden="hidden" value="@user.Email" name="UserEmail" />
                                        <input type="text" hidden="hidden" value="@apply.JobAd.Position" name="JobPosition" />


                                        <select class="form-control" id="ApplyStatus" name="ApplyStatus">
                                            <option value="@ApplyStatus.Undefined">Неопределен</option>
                                            <option value="@ApplyStatus.Appropriate">Подходящ</option>
                                            <option value="@ApplyStatus.Inappropriate">Неподходящ</option>
                                            <option value="@ApplyStatus.ModeratelyAppropriate">Средноподходящ</option>
                                            <option value="@ApplyStatus.ForAnInterview">За Интервю</option>
                                        </select>
                                        <div class="form-group">
                                            <input type="submit" value="Изпрати Email" class="btn btn-sm btn-warning" />
                                        </div>
                                        
                                    }
                                </div>
                            </div>
                            <hr />

                        }

                        <hr>
                    }
                </div>

            </div>
        </div>
    </div>
    <br />
}
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("UserInfo", new { page }))
